html.lenis, html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.particle {
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 999px;
  background: linear-gradient(135deg, #f3d08d, #d4a84d);
  box-shadow: 0 0 16px rgba(212, 168, 77, 0.7);
  top: 105%;
}
